<form class="form-task" (ngSubmit)="onAddTodoClick()">
  <mat-slide-toggle class="toggle" [(ngModel)]="isCompleted" [ngModelOptions]="{standalone: true}"></mat-slide-toggle>
  <mat-form-field class="form-field">
    <input matInput placeholder="Create a new task"  type="text" [(ngModel)]="newTask" [ngModelOptions]="{standalone: true}" required>
    @if (newTask) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="newTask=''">
        <mat-icon fontIcon="close"></mat-icon>
      </button>
    }
  </mat-form-field>
  <button class="form-submit" type="submit" mat-fab color="primary">+</button>
</form>
