<ul class="list">
  <li *ngFor="let todo of todos" [class.completed]="todo.completed" appDraggable>
    <mat-slide-toggle class="toggle" [(ngModel)]="todo.completed" [ngModelOptions]="{standalone: true}"
                      (change)="onToggleTodoStatus(todo)">
    </mat-slide-toggle>
    <label>
      <del *ngIf="todo.completed">{{ todo.text }}</del>
      <span *ngIf="!todo.completed">{{ todo.text }}</span>
    </label>
    <button matSuffix mat-icon-button aria-label="Clear" (click)="onDeleteTodoClick(todo)">
      <mat-icon fontIcon="close"></mat-icon>
    </button>
  </li>
</ul>
